.daily-planner{
    margin-top: 12rem;
    width: 100%;
    height: auto;
}

.daily-planner h1,
.daily-planner p {
    text-align: center;
}

.daily-planner h1{
    font-size: 45px;

}

.daily-planner p{
    margin-top: 12px ;
    font-size: 30px;
}

/* for the planner list with time */

.planner-container{
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    border-radius: 1.5rem;
    box-shadow: 0 6px 8px -2px #012525ab;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
}

#task{
    width: 55%;
}

#time{
    width: 18%;
}

.planner-container button {
    width: 15%;
    cursor: pointer;
    margin-left: 10px;
}

#list{
    margin-top: 20px;
    padding: 0;
    list-style: none;
    width: 100%;
    text-align: left;
}

#list li {
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    padding: 12px 16px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background: #fff;
}

#list li.completed {
    background: #e0ffe0;
    text-decoration: line-through;
}

#list li span {
    width: 100%;
    /* display: inline-block; */
    /* word-break: break-word; */
}

#list li div {
    width: 100%;
    gap: 8px;
    display: flex;
}

#list li button {
    border: none;
    display: flex;
    width: 12%;
    color: #fff;
    border-radius: 6px;
    text-align: center;
    justify-content: center ;
    padding: 6px 10px;
    cursor: pointer;
    margin-top: 20px;
}